<path stroke="white">
48 768 m
48 672 l
224 672 l
224 768 l
h
</path>
<group matrix="1 0 0 1 0 -5.099" decoration="{{ name }}">
<text matrix="1 0 0 1 0 1.437" transformations="translations" pos="64 752" stroke="{{ options.stroke_color }}" fill="{{ options.fill_color }}" type="minipage" width="144" height="30.806" depth="25.87" valign="top">This is a dummy text to show of the decorations. I would use the lipsum package, but somehow it does not have a convenient ``print a few lines only'' option. </text>
</group>
