<path stroke="white">
{% if options.pen == "ultrafat" -%}
0 16 m
0 0 l
48 0 l
48 16 l
{%- elif options.pen == "fat" -%}
0 14 m
0 0 l
42 0 l
42 14 l
{%- elif options.pen == "heavier" -%}
0 12 m
0 0 l
36 0 l
36 12 l
{%- else -%}
0 10 m
0 0 l
30 0 l
30 10 l
{%- endif %}
h
</path>
<path stroke="{{ options.stroke_color }}" pen="{{ options.pen }}" {% block attributes %}{% endblock %}>
{% if options.pen == "ultrafat" -%}
0 8 m
44 8 l
{%- elif options.pen == "fat" -%}
0 7 m
38 7 l
{%- elif options.pen == "heavier" -%}
0 6 m
32 6 l
{%- else -%}
0 5 m
26 5 l
{%- endif %}
</path>