<path stroke="{{ options.stroke_color }}" pen="{{ options.pen }}" {% block attributes %}{% endblock %}>
48 704 m
144 704 l
</path>
<path stroke="white">
48 720 m
48 688 l
144 688 l
144 720 l
h
</path>